*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    margin: auto;
    width: 80%;
}

header{
    background-image: url(../img/pattern.png);
    background-color: blue;
    background-repeat: repeat;
    background-size: 20%;
    height: 120px;
    width: 100%;
    padding-top: 70px;
    
}

header img{
    width: 170px;
    
}

#title{
    font-size: 20px;
    margin-top: 30px;
}

.photo{
    margin-top: 20px;
}

.paragraph{
    margin-top: 30px;
    font-size: 15px;
}

.list{
    margin-top: 30px;
}

table{
    margin-top: 30px;
    
}

td, th {
    padding: 8px;
    text-align: left;
    background-color:aqua;
  }
  
  th {
    font-weight: bold;
  }
  
  .unique{
    background-color: aliceblue;
  }

.suggerimenti{
    margin-top: 30px;
}

  span{
    color: grey;
}

.immagine{
    position: relative;
}

.didascalia{
    position: absolute;
    top: 8px;
    left: 8px;
    color: antiquewhite;
    font-size: 25px;
}